p.strong {
    font-weight: bold;
}

p.underline {
    text-decoration: underline;
}

p.comment {
    font-style: italic;
    color: grey;
}

span.strong {
    font-weight: bold;
}

span.label {
    margin: 3px;
    padding: 3px;
    border-radius: 3px;
    color: white;
}

span.new {
    background-color: green;
}

span.info {
    background-color: blue;
}

span.warn {
    background-color: orange;
}

span.ad {
    background-color: dimgrey;
}

div.center {
    display: flex; justify-content: center; align-items: center;
}

.divider {
    margin: 30px;
    border: 0;
    border-top: 1px solid black;
}

.button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    background: $primary;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    &:hover {
        color: #ffffff;
        background-color: lighten($primary, 10%);
        transform: translateY(-1px);
    //box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        text-decoration: none;
    }
}
